.about-section {
  position: relative;
  width: 100%;
  height: clamp(448px, 53.4vw, 801px);
  margin-bottom: clamp(56px, 6.667vw, 100px);

  &__background {
    position: absolute;
    inset: 0;

    img,
    picture {
      width: 100%;
      height: 100%;
    }
  }

  &__box {
    padding-top: clamp(50px, 7.8vw, 117px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include small-tablet {
      align-items: flex-start;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 2.667vw, 40px);
  }

  p {
    max-width: 602px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(var(--cl-a), 1);
  }

  .main-title {
    color: rgba(var(--cl-a), 1);

    &::before {
      position: absolute;
      bottom: 18px;
      left: 35%;
    }
  }
}
