.about-first{
    position: relative;
    
    &__picture{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        img,picture{
            width: 100vw;
            height: 100%;
        }
    }

    &__box{
        height: clamp(352px, 57.067vw, 836px);
        display: flex;
        align-items: center;
    }

    .main-title{
        color: rgba(var(--cl-a),1.0);
        font-size: clamp(24px, 3.067vw, 46px);
        text-transform: none;

        b{
            width: clamp(37px, 6.667vw, 100px);
            position: absolute;
            top: calc(clamp(10px, 1.867vw, 28px) * -1);
            left: 0;

        }
    }
}