.catalog-first{
    margin-bottom: clamp(56px, 6vw, 90px);

    &__box{
        display: grid;
        grid-template-columns: 354px 1fr;
        grid-gap: 27px;

        @include laptop{
            grid-template-columns: 1fr 3fr; 
        }

        @include tablet{
            grid-template-columns: 1fr;
        }
    }
}