.contacts-section{
    margin-bottom: clamp(56px, 6.667vw, 100px);

    &__box{
        height:  clamp(613px, 48.667vw, 730px);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__picture{
        position: absolute;
        inset: 0;
        z-index: -1;
        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 16px;
        background-color: rgba(var(--bg-a),1.0);
        padding: clamp(45px, 3vw, 45px) 44px clamp(46px, 3.6vw, 54px);

        .contacts-list{
            padding-bottom: 20px;
        }

        .contacts-sublist{
            padding-bottom: 24px;
        }
    }

    .main-button{
        width: clamp(260px, 22.733vw, 341px);
    }
}