header {
  width: 100%;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(var(--bg-a), 1);
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto) 1fr;
  grid-gap: clamp(14px, 2.8vw, 48px);

  &::after {
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    content: "";
    bottom: 0;
    background-color: rgba(var(--bg-o), 1);

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    grid-template-columns: 1fr auto auto;
    grid-gap: 14px;
    padding-right: clamp(10px, 1vw, 15px);
  }

  &__inner {
    justify-self: end;
    padding-right: 53px;
    display: flex;
    align-items: center;
    grid-gap: clamp(20px, 1.875vw, 36px);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition: all .4s;
    @media (max-width: (1550px)) {
      padding-right: 15px;
    }

        &.active{
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
  }

  &__wrapp{
    position: relative;

    &:hover{
      .hidden-list{
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
      }
    }
  }
  .search-form {
    @include laptop {
      display: none;
    }
  }
  .info-list {
    &__item {
      @include tablet {
        &:not(:last-child) {
          display: none;
        }
      }
    }
  }
}
