.modal {
  background: rgba(var(--bg-a), 1);
  border-radius: 3px;
  max-width: 456px;
  width: 90vw;
  padding: 56px 48px 50px;

  @include mobile {
    padding: 30px 20px 25px;
  }

  &__title {
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(24px, 1.867vw, 28px);
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(var(--cl-c), 1);
  }
  p {
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(var(--cl-f), 1);
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    align-items: center;

    p {
      max-width: 240px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    p {
      font-size: 14px;
      max-width: 260px;
    }
  }

  &.thank {
    .modal__box {
      grid-gap: 20px;
    }
  }

  &.basket {
    padding: 36px 39px 36px;
    max-width: 378px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: all .8s;
    .modal {
    
      &__box {
        grid-gap: 16px;
      }
      &__title {
        text-align: center;
        max-width: 250px;
        font-size: clamp(16px, 2.604vw, 20px);
      }
      &__inner {
        grid-gap: 10px;
      }
    }

    
  }

  &.recovery {
    p {
      max-width: 290px;
    }
  }

  &.review{
    .modal__box {
      grid-gap: 20px;
    }
  }

  button {
    text-transform: uppercase;
  }
}
