.modal {
  background: rgba(var(--bg-a), 1);
  border-radius: 3px;
  max-width: 456px;
  width: 90vw;
  padding: 56px 48px 50px;


  @include mobile{
    padding: 30px 20px 25px;
  }

  &__title {
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(24px, 1.867vw, 28px);
    line-height: 150%;
    text-transform: uppercase;
    color: rgba(var(--cl-c), 1);
  }
  p {
    font-family: var(--font-family3);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(var(--cl-f), 1);
  }

  &__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    align-items: center;

    p{
        max-width: 240px;
    }
  }

  &__box{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    align-items: center;
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;

    p{
        font-size: 14px;
        max-width: 260px;
    }
  }
  
  &.thank{

    .modal__box{
      grid-gap: 20px;
    }
  }

  &.basket{
    align-self: start;
    
    &.active{
      position: absolute;
      left: initial;
      right: 2%;
      top: 30px;
      transform: scale(1);
    }
    .modal{
      padding: 56px 78px 55px;
      &__box{
        grid-gap: 47px;
      }
      &__title{
        text-align: center;
        max-width: 240px;
      }
      &__inner{
        grid-gap: 30px;
      }

    
    }
  }

  &.recovery{
    p{
      max-width: 290px;
    }
  }

  button{
   text-transform: uppercase;
  }
}

