.ordering-contact {
  margin-bottom: clamp(56px, 6vw, 90px);

  &__box {
    display: flex;
    flex-direction: column;

    @include laptop {
      align-items: center;
    }

    @include small-tablet {
      align-items: flex-start;
    }
  }
}
