.personal-contacts {
  margin-bottom: clamp(56px, 6vw, 90px);

  &__box {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    background: rgba(var(--bg-l), 1);

    @include small-tablet {
      justify-items: start;
    }
  }

  .main-form {
    max-width: 600px;
    padding: clamp(33px, 2.667vw, 40px) 0 clamp(30px, 3.333vw, 50px);

    &::before {
      display: none;
    }

    @include small-tablet {
      max-width: initial;
      justify-self: initial;
      width: calc(100% + (var(--container-offset) * 2));
      margin-left: calc((var(--container-offset) * -1));
      padding: clamp(34px, 2.667vw, 40px) var(--container-offset);
    }

    &__label {
      @include small-tablet {
        width: 80%;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}
