.personal-nav {
  margin-bottom: clamp(26px, 3.333vw, 50px);

  &__list {
    display: flex;
    grid-gap: 20px;

    @include mobile {
      flex-wrap: nowrap;
      overflow-x: scroll;
      width: calc((var(--container-offset) * 2) + 100%);
      margin-left: calc((var(--container-offset) * -1));
      padding: 0 var(--container-offset) 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: clamp(16px, 1.2vw, 18px);
    line-height: 150%;
    color: rgba(var(--cl-g), 1);
    width: clamp(140px, 13.333vw, 200px);
    border-bottom: solid 2px var(--border-a);
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    padding-bottom: 13px;

    &.active {
      border-bottom: solid 2px var(--border-c);
    }
  }
}
