.product-reviews {
  margin-bottom: clamp(56px, 6.667vw, 100px);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;

    @include mobile {
      grid-gap: 56px;
    }

    .reviews-form {
      align-self: center;
    }
  }
}
