.product-nav{
    margin-bottom: clamp(30px, 3.533vw, 53px);

    &__list{
        display: flex;
        align-items: center;
        grid-gap: 12px;

        @include small-tablet{
            grid-gap: 15px;
        }
    }

    &__btn{
        width: clamp(205px, 19.333vw, 290px);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 7px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.2vw, 18px);
        line-height: 120%;
        color: rgba(var(--cl-g),1.0);
        background: rgba(var(--bg-l),1.0);
        transition: all .4s;
        b{
            color: rgba(var(--cl-c),1.0);
        }

        &.active{
            border-bottom: 2px solid var(--border-c);
        }
    }
}