.trade-about{
    margin-bottom: clamp(56px, 6.667vw, 100px);

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: clamp(30px, 3.333vw, 50px);
    }

    &__button{
        width: clamp(300px, 22.667vw, 340px);
        height: 50px;
    }
}