.viewed-section {
  margin-bottom: clamp(56px, 6vw, 90px);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(32px, 2.667vw, 40px);
  }

  &.discount{
    margin-bottom: clamp(100px, 7.4vw, 111px);
  }

  .main-title{
    @include mobile{
      max-width: 90%;
    }
  }
}
