<footer>
  <div class="footer">
    <div class="footer-top">
      <div class="footer-top__background">
        <picture>
          <source type='image/webp' srcset='img/index/contact.webp'>
          <img width='1920' height='132' src='img/index/contact.png' alt='image'>
        </picture>
      </div>
      <div class="container container--mode">
        <div class="footer-top__box">
          <a href="#" class="main-logo">
            <picture>
              <source type='image/webp' srcset='img/index/logo.webp'>
              <img width='196' height='43' src='img/index/logo.png' alt='logo'>
            </picture>
          </a>
          <ul class="number-list">
            <li class="number-list__item number-list__item--row">
              <span class="number-list__title">Отдел продаж</span>
            </li>
            <li class="number-list__item">
              <a href="tel: +380674900505" class="number-list__link">+38 067-490-05-05</a>
            </li>
            <li class="number-list__item">
              <a href="tel: +380674900505" class="number-list__link">+38 067-490-05-05</a>
            </li>
          </ul>
          <button class="write-button">НАПИСАТЬ НАМ</button>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="footer-middle__box">
          <ul class="footer-list">
            <li class="footer-list__item">
              <span class="footer-list__title">О магазине</span>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">О магазине</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Контакты</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Коллекции</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Новинки</a>
            </li>
          </ul>
          <ul class="footer-list">
            <li class="footer-list__item">
              <span class="footer-list__title">Информация</span>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Доставка</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Контакты</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Гарантия</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Возврат</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Пользовательское соглашение</a>
            </li>
          </ul>
          <ul class="footer-list">
            <li class="footer-list__item">
              <span class="footer-list__title">Личный кабинет</span>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Регистрация</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Авторизация</a>
            </li>
            <li class="footer-list__item">
              <a href="#" class="footer-list__link">Карта сайта</a>
            </li>
          </ul>
          <div class="footer-middle__awards">
            <picture>
              <source type='image/webp' srcset='img/index/awards.webp'>
              <img width='280' height='120' src='img/index/awards.png' alt='image'>
            </picture>
          </div>
          <div class="footer-middle__inner">
            <ul class="lang">
              <li class="lang__item">
                <a href="#" class="lang__link">Русский</a>
              </li>
              <li class="lang__item">
                <a href="#" class="lang__link active">Українська</a>
              </li>
            </ul>
            <a href="#" class="main-logo">
              <picture>
                <source type='image/webp' srcset='img/index/logo.webp'>
                <img width='196' height='43' src='img/index/logo.png' alt='logo'>
              </picture>
            </a>
            <ul class="social-list">
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg width='26' height='26'>
                    <use href='img/sprite/sprite.svg#inst'></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg width='26' height='26'>
                    <use href='img/sprite/sprite.svg#fb'></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="#" class="social-list__link">
                  <svg width='26' height='26'>
                    <use href='img/sprite/sprite.svg#youtube'></use>
                  </svg>
                </a>
              </li>
            </ul>
            <ul class="footer-payment">
              <li class="footer-payment__item">
                <span class="footer-payment__icon">
                  <svg width='56' height='30'>
                    <use href='img/sprite/sprite.svg#visa'></use>
                  </svg>
                </span>
              </li>
              <li class="footer-payment__item">
                <span class="footer-payment__icon">
                  <svg width='49' height='30'>
                    <use href='img/sprite/sprite.svg#mastercard'></use>
                  </svg>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="footer-bottom__box">
          <span class="footer-bottom__info">2021 © Hansgrohe Ukraine Все права защищены</span>
          <a href="#" class="footer-logo">
            <svg width='174' height='38'>
              <use href='img/sprite/sprite.svg#logofooter'></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>