<header>
  <div class="header">
    <a href="index.html" class="main-logo">
      <picture>
        <source type='image/webp' srcset='img/index/logo.webp'>
        <img width='196' height='43' src='img/index/logo.png' alt='logo'>
      </picture>
    </a>

    <ul class="header-nav">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link" data-menu>КАТАЛОГ</a>
      </li>
      <li class="header-nav__item">
        <a href="about.html" class="header-nav__link">ИНФОРМАЦИЯ</a>
      </li>
      <li class="header-nav__item">
        <a href="catalog.html" class="header-nav__link">НОВИНКИ</a>
      </li>
      <li class="header-nav__item">
        <a href="trade-in.html" class="header-nav__link">СЕРВИС</a>
      </li>
      <li class="header-nav__item">
        <a href="location.html" class="header-nav__link">КАК НАС НАЙТИ</a>
      </li>
    </ul>

    <div class="header__inner">
      <button class="contact-btn" data-btn-modal="call">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#contact'></use>
        </svg>
      </button>
      <form action="#" class="search-form">
        <input type="text" class="search-form__input">
        <button class="search-form__btn" data-btn-modal="recovery">
          <svg width='21' height='21'>
            <use href='img/sprite/sprite.svg#search'></use>
          </svg>
        </button>
      </form>

      <ul class="info-list">
        <li class="info-list__item">
          <ul class=" main-lang lang">
            <li class="main-lang__item lang__item">
              <a href="#" class="main-lang__link lang__link">РУС</a>
            </li>
            <li class="lang__item">
              <a href="#" class="main-lang__link lang__link active">УКР</a>
            </li>
          </ul>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn" data-btn-modal="thank">
            <svg width='33' height='24'>
              <use href='img/sprite/sprite.svg#compare'></use>
            </svg>
            <span class="info-list__count">1</span>
          </button>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn" data-btn-modal="entrance">
            <svg width='22' height='24'>
              <use href='img/sprite/sprite.svg#personal'></use>
            </svg>
          </button>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn" data-btn-modal="basket">
            <svg width='25' height='24'>
              <use href='img/sprite/sprite.svg#basket'></use>
            </svg>
            <span class="info-list__count">1</span>
          </button>
        </li>
      </ul>
    </div>

    <button class="burger" data-burger>
      <span class="burger__line"></span>
    </button>

    <div class="desktop-menu">
      <span class="desktop-menu__title">Выберите категорию</span>
      <ul class="desktop-menu__list">
        <li class="desktop-menu__item">
          <a href="#" class="desktop-menu__link">Кухня
            <svg width='9' height='15'>
              <use href='img/sprite/sprite.svg#icon2'></use>
            </svg></a>
            <div class="side-menu">
              <span class="side-menu__text">Выберите товар</span>
              <ul class="side-menu__list">
                <li class="side-menu__item">
                  <a href="#" class="side-menu__link">
                    <svg width='30' height='32'>
                      <use href='img/sprite/sprite.svg#icon3'></use>
                    </svg>
                    Гигиенический душ
                  </a>
                  <div class="sub-menu">
                    <span class="sub-menu__text">Выберите товар</span>
                    <ul class="sub-menu__list">
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="side-menu__item">
                  <a href="#" class="side-menu__link">
                    <svg width='30' height='32'>
                      <use href='img/sprite/sprite.svg#icon4'></use>
                    </svg>
                    Души
                  </a>
                  <div class="sub-menu">
                    <span class="sub-menu__text">Выберите товар</span>
                    <ul class="sub-menu__list">
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="side-menu__item">
                  <a href="#" class="side-menu__link">
                    <svg width='30' height='32'>
                      <use href='img/sprite/sprite.svg#icon4'></use>
                    </svg>
                    Смесители
                  </a>
                  <div class="sub-menu">
                    <span class="sub-menu__text">Выберите товар</span>
                    <ul class="sub-menu__list">
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="side-menu__item">
                  <a href="#" class="side-menu__link">
                    <svg width='30' height='32'>
                      <use href='img/sprite/sprite.svg#icon4'></use>
                    </svg>
                    Аксессуары
                  </a>
                  <div class="sub-menu">
                    <span class="sub-menu__text">Выберите товар</span>
                    <ul class="sub-menu__list">
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="side-menu__item">
                  <a href="#" class="side-menu__link">
                    <svg width='30' height='32'>
                      <use href='img/sprite/sprite.svg#icon4'></use>
                    </svg>
                    Системы налива, слива, 
                    перелива
                  </a>
                  <div class="sub-menu">
                    <span class="sub-menu__text">Выберите товар</span>
                    <ul class="sub-menu__list">
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические комплекты
                          <svg width='9' height='15'>
                            <use href='img/sprite/sprite.svg#icon2'></use>
                          </svg>
                        </a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                      </li>
                      <li class="sub-menu__item">
                        <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
        </li>
        <li class="desktop-menu__item">
          <a href="#" class="desktop-menu__link">Ванная
           </a>
           <div class="side-menu">
            <span class="side-menu__text">Выберите товар</span>
            <ul class="side-menu__list">
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon3'></use>
                  </svg>
                  Гигиенический душ
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Души
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Смесители
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Аксессуары
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Системы налива, слива, 
                  перелива
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Системы налива, слива, 
                  перелива
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="desktop-menu__item">
          <a href="#" class="desktop-menu__link">Партнерам
           </a>
           <div class="side-menu">
            <span class="side-menu__text">Выберите товар</span>
            <ul class="side-menu__list">
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon3'></use>
                  </svg>
                  Гигиенический душ
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Души
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="side-menu__item">
                <a href="#" class="side-menu__link">
                  <svg width='30' height='32'>
                    <use href='img/sprite/sprite.svg#icon4'></use>
                  </svg>
                  Смесители
                </a>
                <div class="sub-menu">
                  <span class="sub-menu__text">Выберите товар</span>
                  <ul class="sub-menu__list">
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические комплекты
                        <svg width='9' height='15'>
                          <use href='img/sprite/sprite.svg#icon2'></use>
                        </svg>
                      </a>
                    </li>
                    <li class="sub-menu__item">
                      <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mobile-nav" data-mobile-menu>
  <span class="mobile-nav__title">Выберите категорию</span>
  <ul class="mobile-nav__list" >
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">Кухня
        <svg width='9' height='15'>
          <use href='img/sprite/sprite.svg#icon2'></use>
        </svg>
      </a>
      <div class="side-menu">
        <button class="side-menu__back">
          <svg width='17' height='17'>
            <use href='img/sprite/sprite.svg#back'></use>
          </svg>
          Вернуться в предыдущее меню
        </button>
        <span class="side-menu__text">Выберите товар</span>
        <ul class="side-menu__list">
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon3'></use>
              </svg>
              Гигиенический душ
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Души
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Смесители
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Системы налива, слива, 
              перелива
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Элементы скрытого 
              монтажа
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Dog Shower
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">Ванная
      </a>
      <div class="side-menu">
        <button class="side-menu__back">
          <svg width='17' height='17'>
            <use href='img/sprite/sprite.svg#back'></use>
          </svg>
          Вернуться в предыдущее меню
        </button>
        <span class="side-menu__text">Выберите товар</span>
        <ul class="side-menu__list">
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon3'></use>
              </svg>
              Гигиенический душ
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Души
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Смесители
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Системы налива, слива, 
              перелива
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Элементы скрытого 
              монтажа
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Dog Shower
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="mobile-nav__item">
      <a href="#" class="mobile-nav__link">Партнерам
      </a>
      <div class="side-menu">
        <button class="side-menu__back">
          <svg width='17' height='17'>
            <use href='img/sprite/sprite.svg#back'></use>
          </svg>
          Вернуться в предыдущее меню
        </button>
        <span class="side-menu__text">Выберите товар</span>
        <ul class="side-menu__list">
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon3'></use>
              </svg>
              Гигиенический душ
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Души
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Смесители
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Системы налива, слива, 
              перелива
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Элементы скрытого 
              монтажа
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Dog Shower
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="side-menu__item">
            <a href="#" class="side-menu__link">
              <svg width='30' height='32'>
                <use href='img/sprite/sprite.svg#icon4'></use>
              </svg>
              Аксессуары
            </a>
            <div class="sub-menu">
              <button class="sub-menu__back">
                <svg width='17' height='17'>
                  <use href='img/sprite/sprite.svg#back'></use>
                </svg>
                Вернуться в предыдущее меню
              </button>
              <span class="sub-menu__text">Выберите товар</span>
              <ul class="sub-menu__list">
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические комплекты
                    <svg width='9' height='15'>
                      <use href='img/sprite/sprite.svg#icon2'></use>
                    </svg>
                  </a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические лейки</a>
                </li>
                <li class="sub-menu__item">
                  <a href="#" class="sub-menu__link">Гигиенические наборы</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
</header>