<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hansgrohe</title>
    
    <link rel="preload" href="fonts/Gotham-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gotham-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gotham-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gotham-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Roboto-Black.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Futura-PT-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Futura-PT-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Raleway-Medium.woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>

