<header>
  <div class="header">
    <a href="#" class="main-logo">
     <picture>
       <source type='image/webp' srcset='img/index/logo.webp'>
       <img width='196' height='43' src='img/index/logo.png' alt='logo'>
     </picture> 
    </a>

    <ul class="header-nav">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">КАТАЛОГ</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">ИНФОРМАЦИЯ</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">НОВИНКИ</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">СЕРВИС</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">КАК НАС НАЙТИ</a>
      </li>
    </ul>

    <div class="header__inner">
        <button class="contact-btn">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#contact'></use>
          </svg>
        </button>
      <form action="#" class="search-form">
        <input type="text" class="search-form__input">
        <button class="search-form__btn">
          <svg width='21' height='21'>
            <use href='img/sprite/sprite.svg#search'></use>
          </svg>
        </button>
      </form>

      <ul class="info-list">
        <li class="info-list__item">
          <div class="main-lang">
            <a href="#" class="main-lang__link">РУС</a>
            <a href="#" class="main-lang__link active">УКР</a>
          </div>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn">
            <svg width='33' height='24'>
              <use href='img/sprite/sprite.svg#compare'></use>
            </svg>
            <span class="info-list__count">1</span>
          </button>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn">
            <svg width='22' height='24'>
              <use href='img/sprite/sprite.svg#personal'></use>
            </svg>
          </button>
        </li>
        <li class="info-list__item">
          <button class="info-list__btn">
            <svg width='25' height='24'>
              <use href='img/sprite/sprite.svg#basket'></use>
            </svg>
            <span class="info-list__count">1</span>
          </button>
        </li>
      </ul>
    </div>

  


  </div>
</header>
