<div class="overlay" data-overlay>

    <div class="modal" data-popup="order">
        <div class="modal__box" role="dialog" aria-modal="true">
            <button class="close modal__close" aria-label="Закрыть модальное окно">
                <svg width='19' height='19'>
                    <use href='img/sprite/sprite.svg#close'></use>
                </svg>
            </button>
            <div class="modal__inner">
                <span class="modal__title">Заказать в 1 клик</span>
                <p>Оставьте номер телефона и
                    менеджер решит все вопросы
                    по оформлению заказа</p>
                <form action="#" class="modal-form">
                    <label for="phone" class="modal-form__label">
                        <input id="phone" type="text" placeholder="Ваш телефон" class="modal-form__input">
                    </label>
                </form>
            </div>
            <div class="modal__bottom">
                <button class="green-button">отправить</button>
                <p>Нажимая кнопку Отправить, я даю согласие
                    на обработку персональных данных</p>
            </div>
        </div>
    </div>

    <div class="modal" data-popup="entrance">
        <div class="modal__box" role="dialog" aria-modal="true">
            <button class="close modal__close" aria-label="Закрыть модальное окно">
                <svg width='19' height='19'>
                    <use href='img/sprite/sprite.svg#close'></use>
                </svg>
            </button>
            <div class="modal__inner">
                <span class="modal__title">ВХОД</span>
                <p>Введите код присланный на Ваш 
                    номер телефона</p>
                <form action="#" class="modal-form">
                    <label for="confirmation" class="modal-form__label">
                        <input type="text" id="confirmation" placeholder="Код" class="modal-form__input">
                    </label>
                </form>
            </div>
            <div class="modal__bottom">
                <button class="green-button">отправить</button>
            </div>
        </div>
    </div>
</div>