.examples-slider {
  max-width: clamp(640px, 61.933vw, 929px);

  @include laptop {
    max-width: clamp(500px, 48.387vw, 600px);
  }

  @include small-tablet {
    max-width: clamp(547px, 95.964vw, 737px);
  }

  @include mobile {
    max-width: 100%;
  }

  &__box {
    width: 100%;
  }

  &__slide {
    width: 100%;
  }

  &__wrapper {
    width: 100%;
  }
  &__list {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    height: 100%;
    width: 100%;

    justify-content: end;
  }

  &__item {
    height: 100%;
    display: flex;
    align-items: flex-start;

    @include laptop {
      &:last-child {
        display: none;
      }
    }

    @include small-tablet {
      width: 100%;
    }

    @include mobile {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__nav {
    position: absolute;
    left: 0;
    bottom: 0;
    grid-gap: clamp(40px, 4.8vw, 72px);
    z-index: 5;
    transform: translateY(-100%);

    @include small-tablet {
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  &__next {
    width: 33px;
    height: 17px;
  }

  &__prev {
    width: 33px;
    height: 17px;
  }
  .swiper-pagination-bullet {
    height: 2px;
    width: clamp(20px, 2vw, 30px);
    background-color: rgba(var(--bg-e), 1);
  }
  .swiper-pagination-bullet-active {
    height: 2px;
    width: clamp(20px, 2vw, 30px);
    background-color: rgba(var(--bg-b), 1);
  }

  &__pagination {
    display: flex;
    align-items: center;
    line-height: 120%;
    grid-gap: 5px;
    position: relative;

    &:before {
      position: absolute;
      content: attr(data-active);
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: clamp(16px, 1.6vw, 24px);
      line-height: 130%;
      color: rgba(var(--cl-b), 1);
      left: calc(clamp(15px, 1.333vw, 20px) * -1);
      top: 50%;
      transform: translate(-100%, -50%);
    }
    &:after {
      position: absolute;
      right: calc(clamp(15px, 1.333vw, 20px) * -1);
      top: 50%;
      transform: translate(100%, -50%);
      content: attr(data-slides);
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: clamp(16px, 1.6vw, 24px);
      line-height: 130%;
      color: rgba(var(--cl-f), 1);
    }
  }
}
