.main-rules{
    padding-bottom: 44px;
    position: relative;
    &__link{
        display: inline;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 150%;
        background: radial-gradient(50% 50% at 50% 50%, #585858 0%, #3A3A3A 100%);
        background-clip: text;

        i{
            color: rgba(var(--cl-d),1.0);
        }
    }

    &__icon{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}