.main-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    background: #F2F2F2;
    max-width: 720px;
    width: 100%;
    padding: clamp(33px, 2.667vw, 40px) clamp(10px, 4vw, 60px) clamp(30px, 3.333vw, 50px);
    position: relative;

    &::before{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='595' height='595' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Ccircle cx='297.498' cy='297.498' r='192' stroke='%23fff' stroke-width='26'/%3E%3C/g%3E%3Cg filter='url(%23b)'%3E%3Ccircle cx='297.498' cy='297.498' r='260.498' stroke='%23fff' stroke-width='26'/%3E%3C/g%3E%3Cg filter='url(%23c)'%3E%3Ccircle cx='297.498' cy='297.498' r='106.498' stroke='%23fff' stroke-width='26'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='458' height='458' x='68.498' y='68.498' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='effect1_dropShadow_495_673' result='effect2_dropShadow_495_673'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow_495_673' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='shape' result='effect3_innerShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.1 0'/%3E%3CfeBlend in2='effect3_innerShadow_495_673' result='effect4_innerShadow_495_673'/%3E%3CfeGaussianBlur result='effect5_foregroundBlur_495_673' stdDeviation='2'/%3E%3C/filter%3E%3Cfilter id='b' width='594.996' height='594.996' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='effect1_dropShadow_495_673' result='effect2_dropShadow_495_673'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow_495_673' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='shape' result='effect3_innerShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.15 0'/%3E%3CfeBlend in2='effect3_innerShadow_495_673' result='effect4_innerShadow_495_673'/%3E%3CfeGaussianBlur result='effect5_foregroundBlur_495_673' stdDeviation='2'/%3E%3C/filter%3E%3Cfilter id='c' width='286.996' height='286.996' x='154' y='154' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='9'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='effect1_dropShadow_495_673' result='effect2_dropShadow_495_673'/%3E%3CfeBlend in='SourceGraphic' in2='effect2_dropShadow_495_673' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='6' dy='6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0'/%3E%3CfeBlend in2='shape' result='effect3_innerShadow_495_673'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='-6'/%3E%3CfeGaussianBlur stdDeviation='6.5'/%3E%3CfeComposite in2='hardAlpha' k2='-1' k3='1' operator='arithmetic'/%3E%3CfeColorMatrix values='0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0 0.768627 0 0 0 0.1 0'/%3E%3CfeBlend in2='effect3_innerShadow_495_673' result='effect4_innerShadow_495_673'/%3E%3CfeGaussianBlur result='effect5_foregroundBlur_495_673' stdDeviation='2'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        width: clamp(331px, 36.467vw, 547px);
         height: clamp(331px, 36.467vw, 547px);
        position: absolute;
         content: '';
         z-index: -1;
         left: -1%;
         top: 50%;
         transform: translate(-40%, -50%);

         @include laptop{
            left: 50%;
            top: initial;
            bottom: 0;
            transform: translate(-50%, 25%);
         }

         @include mobile{
            transform: translate(-50%, 21%);
         }
     }

     @include small-tablet{
        max-width: initial;
        justify-self: start;
        width: calc(100% + (var(--container-offset) * 2));
        margin-left: calc((var(--container-offset) * -1));
        padding: clamp(34px, 2.667vw, 40px) var(--container-offset);
    }

    &--mode{
        padding: clamp(33px, 2.667vw, 40px) clamp(10px, 4vw, 60px) clamp(27px, 2.467vw, 37px);
        height: fit-content;

        &:after{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='465' height='112' fill='none'%3E%3Cpath fill='%23fff' fill-opacity='.7' fill-rule='evenodd' d='M359.548 0v80.971h11.229V51.89c.5-4.895 4.325-9.203 9.65-9.203a9.438 9.438 0 0 1 9.649 9.203V80.97h10.94V47.188c-1.237-9.43-7.895-16.212-17.545-16.212a18.117 18.117 0 0 0-12.712 4.992V0h-11.211ZM6.354 0v81.094h11.238V52.013c.491-4.895 4.325-9.203 9.65-9.203a9.448 9.448 0 0 1 9.65 9.203v29.08h10.922V47.312c-1.237-9.43-7.896-16.212-17.545-16.212a18.098 18.098 0 0 0-12.72 5V0H6.353ZM82.264 42.424c-7.448 0-13.483 6.255-13.483 13.966a13.724 13.724 0 0 0 8.25 12.823 13.72 13.72 0 0 0 5.233 1.134c7.44 0 13.475-6.246 13.475-13.957 0-7.71-6.036-13.966-13.475-13.966Zm24.519 38.284v-48.61H95.818v5.124c-4.255-3.763-7.606-6.036-13.633-6.036-13.44 0-24.712 11.405-24.712 25.283 0 13.878 11.273 25.256 24.712 25.256 5.983 0 9.36-2.07 13.598-5.78v4.763h11ZM160.726 80.708l-.079-32.274c-.21-9.65-8.395-17.396-18.422-17.396a18.768 18.768 0 0 0-13.378 5.526v-4.483h-10.484v48.627h11.229l.053-28.564c0-5.132 4.474-9.29 10.001-9.29 5.526 0 10 4.158 10 9.29v28.564h11.08ZM208.045 64.917c0-7.702-5.596-11.948-13.439-13.352l-7.457-1.561c-3.184-.518-7.114-1.465-7.114-4.764 0-2.403 3.175-4.386 7.097-4.386 3.921 0 7.676 3.044 7.676 5.448h12.281c-1.342-8.589-9.65-15.072-19.65-15.072-10.957 0-18.756 6.852-18.467 16.59.211 6.965 7.694 11.044 15.94 12.79l2.711.526c5.799.79 9.036 2.01 9.194 4.86.193 3.51-3.001 5.711-7.72 5.703-5.045 0-9.08-3.273-9.08-7.089h-11.738c.141 9.571 9.931 17.282 20.853 17.282 10.922 0 18.913-7.325 18.913-16.975ZM253.119 56.145a13.362 13.362 0 0 1-22.95 8.875 13.36 13.36 0 0 1 9.598-22.657 13.568 13.568 0 0 1 9.532 4.124 13.555 13.555 0 0 1 3.82 9.657Zm10.694-24.037h-10.22v4.85c-3.509-3.745-8.431-5.938-14.606-5.938-12.887 0-23.8 11.878-23.8 24.791 0 13.694 10.649 24.8 23.8 24.8 5.474 0 10.746-3.097 14.694-7.474v.877a14.914 14.914 0 0 1-26.187 9.957l-11.72.053c3.088 8.851 12.352 15.29 23.292 15.29 12.474 0 24.668-11.693 24.694-21.773v-.474l.053-44.96ZM298.798 41.74V31.002c-5.588 0-10.282 2.22-12.334 5.264v-4.158h-10.527v48.6h11.492V50.355c.201-4.64 5.167-8.396 11.369-8.615ZM325.546 42.363c-7.378 0-13.352 6.272-13.352 14.036 0 7.764 5.974 14.036 13.352 14.036s13.343-6.272 13.343-14.036c0-7.764-5.974-14.036-13.343-14.036Zm24.511 14.036c0-13.949-10.94-25.265-24.423-25.265-13.484 0-24.423 11.316-24.423 25.265 0 13.948 10.939 25.265 24.423 25.265 13.483 0 24.423-11.352 24.423-25.3v.035ZM410.192 56.39c0 13.975 10.808 25.3 24.134 25.3 10.264 0 19.028-6.675 22.519-16.159h-11.948a13.418 13.418 0 0 1-10.641 5.167 13.099 13.099 0 0 1-12.949-9.877h36.977c.178-1.455.234-2.923.166-4.387 0-13.975-10.799-25.309-24.124-25.309-13.326 0-24.134 11.29-24.134 25.265Zm24.318-14.413a13.11 13.11 0 0 0-12.448 8.606h24.958c-1.562-4.965-6.571-8.606-12.51-8.606Z' clip-rule='evenodd'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            content: '';
            height: clamp(58px, 14.583vw, 112px);
            width: clamp(243px, 60.547vw, 465px);
            margin-top: 5px;

            @include mobile{
                margin-top: 0;
            }
        }

        @include mobile{
            grid-gap: 25px;

            .main-form__title{
                margin-bottom: 5px;
            }

            .main-form__button{
                margin-top: 5px;
            }
        }
    }
    &__label{
        width: 100%;
    }

    &__input{
        height: 44px;
        text-indent: clamp(16px, 1.467vw, 22px);
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.067vw, 16px);
        line-height: 130%;
        color: rgba(var(--cl-c),1.0);

        &::placeholder{
        color: rgba(var(--cl-f),1.0);
        }

    }

    &__title{
        margin-bottom: clamp(10px, 1.333vw, 20px);
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: clamp(16px, 1.6vw, 24px);
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: rgba(var(--cl-c),1.0);
    }

    &__link{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: rgba(var(--cl-d),1.0);
        padding-top: clamp(4px, 0.667vw, 10px);

        @include mobile{
            padding-top: 0;
        }
    }

    &__deskr{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: clamp(12px, 0.933vw, 14px);
        line-height: 120%;
        color: rgba(var(--cl-f),1.0);
        padding-top: 4px;

        @include mobile{
            padding: 0;
            margin-top: -15px;
        }
    }

    &__button{
        margin-top: clamp(10px, 1.333vw, 20px);
        width: clamp(300px, 21.333vw, 320px);
        height: 59px;

        @include ios{
            width: 100%;
        }
    }
}