.map-sublist {
  display: flex;
  flex-direction: column;
  grid-gap: 14px;
  padding: 14px 0 0 15px;

  &__link {
    width: fit-content;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(var(--cl-c), 1);
    display: flex;
    align-items: center;
    grid-gap: 10px;
    position: relative;

    &:after {
      content: "";
      position: relative;
        height: 12px;
        width: 9px;
        background-image: url(/img/sprite/icon2.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        left: -3px;
        order: 2;
        pointer-events: none;
        opacity: 0;
        transition:  all .4s;
    }

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: rgba(var(--cl-d), 1);
      display: inline-flex;
    }

    &:hover{
      &::after{
        opacity: 1;
      }
    }
  }
}
