.map-sublist {
  display: flex;
  flex-direction: column;
  grid-gap: 14px;
  padding: 14px 0 0 15px;

  &__link {
    width: fit-content;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(var(--cl-c), 1);
    display: flex;
    align-items: center;
    grid-gap: 10px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      height: 1px;
      width: 95%;
      left: 15px;
      background-color: transparent;
    }

    &::before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: rgba(var(--cl-d), 1);
      display: inline-flex;
    }
  }
}
