.mobile-nav{
    position: fixed;
    z-index: 100;
    top: 49px;
    height: 100%;
    display: flex;  
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    padding: 50px 30px 30px 10px;
    background-color: rgba(var(--bg-a),1.0);
    transform: translateX(-120%);
    transition: all .4s;
    grid-gap: 20px;

    &.active{
        transform: translateX(0);
    }
     
    @include for-tablet{
        display: none;
    }

    &__title{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(var(--cl-k),1.0)
    }

    &__link{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: rgba(var(--cl-b),1.0);
    }

}