.mobile-info {
  
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
    
  
    &__title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(var(--cl-k), 1);
    }
  
    &__link {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: rgba(var(--cl-b), 1);
      position: relative;

      svg{
        position: relative;
        opacity: 0;
        transition: all .4s;
      }

      &--mode{
        svg{
            top: -12px;
        }
      }
      &:hover{
        svg{
            opacity: 1;
        }
      }
    }
  }