.services-card{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    max-width: 243px;
    padding: 31px 22px 36px;

    @include small-tablet{
        max-width: 100%;
        width: 100%;
    }

    @include mobile{
        display: grid;
        grid-template-columns: 1fr;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include small-tablet{
            justify-content: space-around;
        }

        // @include mobile{
        //     justify-content: center;
        //     grid-gap: 75px;
        // }
    }

    &__count{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 72px;
        text-align: center;
        color: rgba(var(--cl-e),1.0);

        &--green{
            color: rgba(var(--cl-d),1.0);
        }
    }

    p{
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: rgba(var(--cl-c),1.0);

        @include mobile{
            width: 80%;
            justify-self: center;
        }
    }
}