.side-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  padding: 30px 30px 30px 10px;
  background-color: rgba(var(--bg-a), 1);
  transform: translateX(-120%);
  transition: all 0.4s;
  grid-gap: 24px;

  &.active {
    transform: translateX(0);
  }

  &__back {
    display: flex;
    align-items: center;
    grid-gap: 9px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(var(--cl-g), 1);
    padding-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    align-items: flex-start;
  }

  &__item {
    cursor: pointer;
  }

  &__text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(var(--cl-f), 1);
  }

  &__link {
    display: grid;
    grid-template-columns: 33px auto 1fr;
    grid-gap: 10px;
    align-items: flex-start;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(var(--cl-c), 1);
    position: relative;
    justify-content: flex-start;
    &::before {
      transition: all 0.4s;
      opacity: 0;
      pointer-events: none;
      position: relative;
      order: 3;
      content: "";
      width: 9px;
      height: 15px;
      top: 6px;
      background-image: url(/img/sprite/icon2.svg);
      background-position: center;
      background-size: cover;
    }

    svg {
      display: flex;
      justify-content: center;

      fill: var(--svg-color-d);
    }

    &.active {
      &::before {
        opacity: 1;
      }
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      svg {
        fill: var(--svg-fill-hover);
      }
    }
  }
}
