.main-button {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 51px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: rgba(var(--cl-a), 1);
  background-color: rgba(var(--bg-c), 1);
  transform: all 0.4s;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #32dab8 0%,
      rgba(0, 168, 134, 0.9) 100%
    );
    transition: all 0.4s;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.view-button {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(var(--cl-c), 1);

  svg {
    margin-top: -3px;
  }
}

.write-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--bg-k), 1);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(var(--cl-a), 1);
  width: clamp(284px, 23.333vw, 350px);
  height: 50px;
  position: relative;
  z-index: 2;
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(50% 50% at 50% 50%, #585858 0%, #3a3a3a 100%);
    transition: all 0.4s;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.blog-button {
  @include mobile {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.green-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family3);
  width: clamp(250px, 20vw, 300px);
  height: 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(var(--bg-c),1.0);
  color: rgba(var(--cl-a), 1);
  position: relative;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #32dab8 0%,
      rgba(0, 168, 134, 0.9) 100%
    );
    transition: all 0.4s;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.black-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family3);
  width: clamp(250px, 20vw, 300px);
  height: 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(var(--bg-k), 1);
  color: rgba(var(--cl-a), 1);
  z-index: 2;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(50% 50% at 50% 50%, #585858 0%, #3a3a3a 100%);
    transition: all 0.4s;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.add-button{
  transition: all .4s;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px var(--border-k);
  position: relative;
  &:before, &:after{
    opacity: 1;
    transition: all .4s;
    position: absolute;
    content: '';
    width: 11px;
    height: 1.5px;
    border-top: solid 1px var(--border-k);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  &:after{
    top: 45%;
    left: 18%;
    transform: rotate(90deg) translate(-3%, -15%);
  }

  &:hover{
    border: solid 1px var(--border-c);

    &:before, &:after{
      border-color: var(--border-c);
    }
  }

  &.active{
    &:after{
     opacity: 0;
    }
  }
}

.download-button{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(var(--cl-a), 1);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  background-color: rgba(var(--bg-k), 1);
  height: 52px;
  width: 214px;
  z-index: 2;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: radial-gradient(50% 50% at 50% 50%, #585858 0%, #3a3a3a 100%);
    transition: all 0.4s;
    opacity: 0;
    z-index: -1;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  @include mobile{
    width: 100%;
  }
}

.ordering-button{
  width: 300px;
  justify-self: center;
  @include mobile {
    margin-top: 6px;
  }
}

.delete{
  width: clamp(14px, 1.2vw, 18px);
  height: clamp(14px, 1.2vw, 18px);

  svg{
    transition: all .4s;
    stroke: var(--svg-color-k);
  }

  &:hover{
    svg{
      stroke: var(--svg-color-e);
    }
  }
}

.reset-button{
  color: rgba(var(--cl-m),1.0); 
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 500;
  display: flex;
  width: 162px;
  height: 52px;
  padding: 18px 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(var(--bg-b),1.0);
  transition: all .4s;

  &:hover{
    color: rgba(var(--cl-d),1.0);
    border: 1px solid rgba(var(--bg-c),1.0);
  }
}