.select {
  position: relative;
  user-select: none;

  &::before {
    bottom: -19px;
    height: 25px;
    z-index: -1;
    width: calc(100% + 20px);
    position: absolute;
    content: "";
    background: rgba(var(--bg-a), 1);
    border: 1px solid var(--border-d);
    border-bottom: none;

    left: -10px;
    transition: opacity 0.4s;
    opacity: 0;
  }

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--cl-b), 1);

  &__header {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    height: 30px;
  }

  &__current {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(var(--cl-b), 1);
    border-bottom: solid 1px var(--border-d);
    flex-flow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: space-between;

    &::before {
      content: "";
      background-image: url(/img/sprite/arrow-b.svg);
      width: 21px;
      height: 11px;
      rotate: -90deg;
      order: 2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all 0.4s;
    }

    svg {
      fill: transparent;
    }
  }

  &__body {
    width: calc(100% + 20px);
    margin-top: -5px;
    position: absolute;
    left: -10px;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    max-height: 220px;
    background: rgba(var(--bg-a), 1);
    border: 1px solid var(--border-d);
    border-top: none;
    border-bottom: none;
  }

  &__wrapp {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    padding: 10px 0 10px 10px;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    border-bottom: 1px solid var(--border-d);

    svg {
      position: absolute;
      transform: translateX(calc((100% + 8px) * -1));
      fill: transparent;
    }

    // &::before{
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: calc(100% + 20px);
    //   border-bottom: 1px solid var(--border-d);
    // }
  }
}

.select.active .select__body {
  height: auto;
}

.select.active {
  z-index: 3;

  .select__body {
    visibility: visible;
    opacity: 1;
  }

  position: relative;

  &::before {
    opacity: 1;
  }

  .select__current::before {
    rotate: -180deg;
  }
}

.select__item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: rgba(var(--cl-c), 1);
}

.sort-select.select.active .select__icon {
  transform: scaleY(-1);
}

.product-select {
  max-width: 442px;

  @include mobile {
    padding-bottom: 16px;
  }

  .select__icon {
    display: none;
  }
}

.sort-select {
  max-width: 332px;
  width: 100%;
  &::before {
    display: none;
  }
  pointer-events: none;

  @include mobile {
    max-width: 210px;
  }
  .select {
    &__body {
      max-width: 210px;

      left: initial;
      right: 0;
      margin-top: -1px;
      border-top: 1px solid var(--border-d);
      pointer-events: initial;

      @include mobile {
        right: initial;
        left: 0;
      }
    }

    &__header {
      display: flex;
      align-items: center;

      border-bottom: solid 1px var(--border-e);
    }

    &__title {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: rgba(var(--cl-c), 1);

      @include mobile {
        display: none;
      }
    }

    &__current {
      padding-left: 14px;
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(var(--cl-c), 1);
      border: none;
      pointer-events: initial;

      &:before {
        display: none;
      }

      @include mobile {
        padding-left: 0;
      }
    }

    &__icon {
      padding-left: clamp(8px, 0.933vw, 14px);
      pointer-events: initial;
      transition: all 0.4s;

      svg {
        stroke: rgba(var(--bg-c), 1);
      }
    }

    &__item {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: rgba(var(--cl-c), 1);
    }
  }
}

.form-select {
  .select__header:has([data-id="1"]) {
    .select__current {
      color: rgba(var(--cl-f), 1);
    }
  }

  &.active {
    .select__current::before {
      rotate: initial !important;
      transform: scaleY(-1);
    }

    &::before {
      display: none;
    }
    .select__header {
      border: 1px solid var(--border-e);
      border-bottom: none;
    }
  }
  .select {
    &__header {
      background-color: rgba(var(--bg-a), 1);
      height: 44px;
      align-items: center;
      display: flex;
      padding: 0 16px;
      border: 1px solid transparent;
      border-bottom: none;
    }
    &__current {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: clamp(14px, 1.067vw, 16px);
      line-height: 130%;
      color: rgba(var(--cl-c), 1);
      border: none;
      width: 100%;

      &::before {
        rotate: 0deg;
        width: 14px;
        height: 8px;
      }
    }
    &__item {
      border: none;
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: clamp(14px, 1.067vw, 16px);
      line-height: 130%;
      color: rgba(var(--cl-c), 1);
      border: none;
      width: 100%;
      padding: 5px 0 5px 16px;
    }
    &__body {
      margin-top: initial;
      width: 100%;
      left: 0;
      border: 1px solid var(--border-e);
      height: 0;
    }
    &__wrapp {
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}
