.select {
  position: relative;
  user-select: none;

  &::before {
    
    bottom: -19px;
    height: 25px;
    z-index: -1;
    width: calc(100% + 20px);
    position: absolute;
    content: '';
    background: rgba(var(--bg-a),1.0);
    border: 1px solid var(--border-d);
    border-bottom: none;
    
    left: -10px;
    transition: opacity 0.4s;
    opacity: 0;

    // @media (max-width: 1350px) {
    //   left: initial;
    //   right: -10px;
    //   width: 130px;
    // }

  }

  font-family:  var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--cl-b),1.0);

  &__header {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    height: 30px;
  }

  &__current {
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(var(--cl-b),1.0);
    border-bottom: solid 1px var(--border-d);
    flex-flow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    justify-content: space-between;
   
    
    &::before{
      content: '';
      background-image: url(/img/sprite/arrow-b.svg);
      width: 21px;
      height: 11px;
      rotate: -90deg;
      order: 2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all .4s;
    }

    svg{
      fill: transparent;
    }
  }

  &__body {
    width: calc(100% + 20px);
    margin-top: -5px;
    position: absolute;
    left: -10px;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    max-height: 220px;
    background: rgba(var(--bg-a),1.0);
    border: 1px solid var(--border-d);
    border-top:none;
    border-bottom: none;

  }

  &__wrapp {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    padding: 10px 0 10px 10px;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    border-bottom: 1px solid var(--border-d);
  
    svg {
      position: absolute;
      transform: translateX(calc((100% + 8px) * -1));
      fill: transparent;
    }

    
      // &::before{
      //   content: '';
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: calc(100% + 20px);
      //   border-bottom: 1px solid var(--border-d);
      // }
    
  }
}

.select.active .select__body {
  height: auto;
}

.select.active {
  z-index: 3;

  .select__body {
    visibility: visible;
    opacity: 1;
  }

  position: relative;

  &::before {
    opacity: 1;
  }

  .select__current::before{
    rotate: -180deg;
  }
}


.select__item:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: rgba(var(--cl-c),1.0);
}


.product-select{
  max-width: 442px;

  @include mobile{
    padding-bottom: 16px;
  }
} 