.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--bg-c), 1);
  width: clamp(160px, 19.267vw, 289px);
  padding: 10px 20px;
  height: 50px;
  z-index: 2;

  img,
  picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(137px, 11.6vw, 174px);
  height: clamp(30px, 2.533vw, 38px);

  @include mobile {
    padding-top: 17px;
  }
}

.main-title {
  position: relative;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 30px);
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(var(--cl-b), 1);
  display: inline;

  b {
    background-color: rgba(var(--bg-c), 1);
    height: clamp(8px, 0.8vw, 12px);
    width: clamp(42px, 3.2vw, 48px);
    display: inline-flex;
    position: relative;
    bottom: 4px;
    left: clamp(16px, 1.6vw, 24px);
  }
}

.main-pretitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 2vw, 30px);
  line-height: 100%;
  color: rgba(var(--cl-c), 1);
}

p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(var(--cl-c), 1);
}

.green {
  color: rgba(var(--cl-d), 1);
}

.code {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.067vw, 16px);
  line-height: 24px;
  color: rgba(var(--cl-f), 1);
}

.available {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(var(--cl-b), 1);
  display: flex;
  align-items: center;
  grid-gap: clamp(10px, 0.8vw, 12px);
}

.svg-mode {
  background-color: var(--svg-color-l);
  border-radius: 5px;
  transition: all 0.4s;

  &:hover {
    background-color: var(--svg-fill-hover);
  }
}

.contact-btn {
  transition: all 0.4s;

  &:hover {
    transform: translateY(-10%) scale(1.05);
  }
}
